@import url('./styles/NavItem.css');
@import url('./styles/Slider.css');
@import url('./styles/TourItem.css');
@import url('./styles/HomeModule.css');
@import url('./styles/AboutModule.css');
@import url('./styles/BookingModule.css');
@import url('./styles/ContactModule.css');
@import url('./styles/LoginModule.css');
@import url('./styles/ProfileModule.css');
@import url('./styles/Responsive.css');

body{
    overflow-x: hidden !important;
}
.form-control{
    border: 1px solid #ccc !important;
    
    
    
}

 .form-control:focus,
 .form-control:active {
  
  box-shadow: none !important;
}

.error{
    color: red;
}